---
layout: archive
permalink: /blog/
title: "Blog"
author_profile: true
mathjax: true
---

<div class="blog-with-sidebar">

  <div class="blog-posts-list">
    <h3>Posts</h3>
    <ul>
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <br><small>{{ post.date | date: "%B %-d, %Y" }}</small>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="blog-main-content">
    {% assign latest = site.posts.first %}
    {% if latest %}
      <h1>{{ latest.title }}</h1>
      <p><small>{{ latest.date | date: "%B %-d, %Y" }}</small></p>
      {{ latest.content }}
    {% else %}
      <p>No posts yet.</p>
    {% endif %}
  </div>

</div>
